<section class="welcome">
    <div>
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row bienvenue">
                <h1>BIENVENUE DANS LE MONDE DE LA DONNÉE</h1>
               <!-- <p>dans le monde de la données</p>-->
            </div>
              <div class="homepage owl-carousel">
                <div class="item">
                    <div class="row">
                            <img class="img-responsive" src="img/carousel/carte_visite_recto_small.png" alt="">

                           <h1 class="wow fadeInUp animated cd-headline slide animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                               <span>Je suis Benjamin &amp; je peux vous aider avec</span>
                               <br>
                               <span class="cd-words-wrapper" style="width: 350px;">
                                   <b class="is-visible">la collecte</b>
                                   <b class="is-hidden">le nettoyage</b>
                                   <b class="is-hidden">la visualisation</b>
                                   <b class="is-hidden">l'analyse statistique</b>
                                   <b class="is-hidden">la modélisation</b>
                                   <b class="is-hidden">la classification</b>
                               </span> <span class = "high" >de vos données</span>
                            </h1>
                    </div>
                </div>
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>

<!--<section id="hero-area"><div class="container"><div class="row"><div class="col-md-12 text-center"><div class="block wow fadeInUp animated" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><section class="cd-intro"><h1 class="wow fadeInUp animated cd-headline slide animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><span>HI, MY NAME IS JONATHON &amp; I AM A</span><br><span class="cd-words-wrapper" style="width: 192px;"><b class="is-visible">DESIGNER</b>
<b class="is-hidden">DEVELOPER</b>
<b class="is-hidden">FATHER</b></span></h1></section><h2 class="wow fadeInUp animated animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">WITH 10 YEARS EXPERIENCE, I'VE OCCUPIED MANY ROLES INCLUDING DIGITAL DESIGN DIRECTOR, WEB DESIGNER AND DEVELOPER. THIS SITE SHOWCASES SOME OF MY WORK.</h2><a class="btn-lines dark light wow fadeInUp animated btn btn-default btn-green hvr-bounce-to-right animated" data-wow-delay=".9s" href="https://themefisher.com/" target="_blank" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">Download More</a></div></div></div></div></section>-->
