/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

@media (min-width: 1300px) {
body.boxed {
  background: none;
  background-color: #f4f6ff;/*rgb(23, 37, 45);*/
}
body.boxed #all {
  box-shadow: none;
  width: 100%;
}
}

p {
  text-align: justify;
}

#blog-post p, 
#blog-post li {
  text-align: justify;
  font-size: 18px;
}


/******

CONTAINER

*******/

/*.container {
    width: 95%;
}*/

/*@media (min-width: 992px) {
.container {
    width: 85%;
}
}*/

@media (min-width: 700px) {
.container {
    width: 85%;
}
}


/*********************************************************************


                                NAVBAR


**********************************************************************/
#top {
  /*background: rgb(23, 37, 45);*/
  padding: 5px;
}

#top .social a {
  margin: 0 10px;
}

.navbar-brand {
  padding: 3px 15px;
  
}

.navbar {
  background-color: #2c3e50;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #18bc9c;
}


/*body.boxed .navbar-affixed-top.affix {
  position: fixed;
  width: 80;
}*/

body.boxed .navbar-affixed-top.affix {
  position: fixed;
 /* width: 1200px;*/
  top: 0;
  /*left: 50%;
  transform: translateX(-50%);*/
  z-index: 1000;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media (min-width: 1300px) {
  body.boxed .navbar-affixed-top.affix {
    width: 100%;
}
}



/*********************************************************************


                                WELCOME


**********************************************************************/

.welcome {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #127681;
  border-top: 5px solid #f3c623;
  margin-bottom: 0px;
  opacity: 0.9;
}

.welcome .bienvenue {
  animation: slideInLeft;
  animation-duration: 2s;
}

.welcome .img-responsive {
  animation: slideInRight;
  animation-duration: 2s;
  display: block;
  margin: auto;
}


.welcome p {
  font-size: 20px;
  text-align: center;
  color: #f5f0e3;
}

.welcome h1, .wlecome h2, .welcome h3 {
  color: #f5f0e3;
}

.high {
  background-color: white;
  opacity: 2;
  padding: 0 10px;
  color: black;
  border-radius: 10px;
}


/*********************************************************************


                                CAROUSEL


**********************************************************************/
.home-carousel .owl-carousel {
  padding-top: 0px;/*20px;*/
  padding-bottom: 0px;/*20px;*/
}

.home-carousel h1,
.home-carousel h2,
.home-carousel h3,
.home-carousel p,
.home-carousel ul {
  color: #f4f6ff;
}

/*.home-carousel {
  background: none;
}*/

.home-carousel .dark-mask {
  background-color: #127681;/*#015668;/*rgb(23, 37, 45);*/
  /*border-top: 5px solid #f3c623;*/
  opacity: 0.7;
}

.home-carousel .img-responsive {
  display: block;
  margin: auto;
}

.home-carousel p {
  font-size: 20px;
}

.desccarou {
  text-align: center;
}

/*********************************************************************


                                SECTION


**********************************************************************/
.bar {
  padding: 30px 0;
}


.bar .dark-mask {
    background: none;
}


.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
    border-bottom: solid 5px #f3c623;
}

/* features */
/*----------*/

.bar .icon {
  background-color: #2c3e50;
  color: #f4f6ff;
  border: none;
}

.box-simple .features-name {
  box-sizing: border-box;
}

.box-simple .features-name h3 {
  box-sizing: border-box;
  border-bottom: solid 2px #f3c623;
}

.box-simple ul {
  list-style-type: none;
  /*text-align: left;*/
  padding-left: 0;
  padding-bottom: 5px;
  line-height: 20px;
}

.box-simple {
  padding: 0 5px;
}

.box-simple p {
  text-align: justify;
  font-size: 18px;
  color: #555555;
}

.box-simple ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  padding-bottom: 5px;
  line-height: 20px;
}

.box-simple ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

.box-simple ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  content: "\f058";
  color: green;
}

/* qui suis-je */
/*----------*/
.bar.background-image-fixed-2 {
  /*background: url(../img/portfolio-6.jpg) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;*/
  background-color: #127681;
  opacity: 0.9;
}
.bar.background-image-fixed-2 p {
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}

.bar.background-image-fixed-2 p.text-center {
  text-align: center;
}

/*recent posts*/
.box-image-text.blog .intro {
  text-align: justify;
  /*height: 250px;*/
}
.box-image-text .content p {
    color: black;
    font-size: 16px;
}
.box-image-text .content h4 {
/*  height: 80px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;*/
  width: 100%;
  display: table; 
  height: 80px;
  text-align: center;
}
.box-image-text .content h4 a {
  color: black;/*rgb(23, 37, 45);*/
  display: table-cell;
  vertical-align: middle;
}
.box-image-text .image {
  min-height: 250px;
  max-height: 250px;
}

/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  padding: 35px 0;
  maw-width: 160px;
}

/*********************************************************************


                                COPYRIGHT


**********************************************************************/
#copyright {
  padding: 5px 0;
}


/*********************************************************************


                                BLOG POST


**********************************************************************/
#content {
  text-align: justify;
}

#post-content img {
  text-align: center;
  display: table;
}

pre {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
}

pre code {
  border-radius: 4px;
}

code {
    padding: 2px 4px;
    font-size: 95%;
    color: #127681;
    background-color: transparent;
    border-radius: 4px;
}


.btn.btn-primary.btn-lg {
  background-color: #0E8C1F;
  border: none;
  border-radius: 4px;
}

#post-content img {
  /*float: right;*/
  margin: 0 10px;
}

.sharethis .social-button {
  float: left;
  margin: 5px;
  height: 20px;
}

.sharethis .btn-social, 
.sharethis .fa-envelope {
  padding: 0;
  border: none;
}

.sharethis .fa-envelope {
  margin-top: -3px;
}

img.flags {
  height: 20px;
}

/*panel side bar*/
.panel.sidebar-menu .panel-heading h1, .panel.sidebar-menu .panel-heading h2, .panel.sidebar-menu .panel-heading h3, .panel.sidebar-menu .panel-heading h4, .panel.sidebar-menu .panel-heading h5 {
    border-bottom: solid 5px #f3c623;
}

.panel-body a {
  color: #2c3e50;
  font-weight: bold;
}

.panel.sidebar-menu ul.tag-cloud li a {
  color: #2c3e50;
}

.btn-template-main {
    color: #2c3e50;
    background-color: #ffffff;
    border-color: #2c3e50;
}

/*********************************************************************


                                CUSTOMERS


**********************************************************************/

.owl-item {
  width: 100%;
  display: table; 
  height: 140px;
  text-align: center;
}

.item {
  display: table-cell;
  vertical-align: middle;
}


/****************************************************************

                Remove default highlight.js style

*****************************************************************/

.hljs-code {
    color: white !important;
}


/****************************************************************

                GRID

*****************************************************************/

/* CSS */
/* GRID SYSTEM */
/* see http://j4n.co/blog/Creating-your-own-css-grid-system */
/*----------------------------------------------------------*/
.grid-container {
  width: 100%;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: block;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  /*width: 100% / 12;
  /*-- our gutter -- */
  /*padding: 0px; */
  /*background-color: #FFDCDC;*/
}

.col-1 {
  width: 8.33333%;
}

.col-offset-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-offset-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-offset-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-offset-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-offset-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-offset-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-offset-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-offset-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.col-offset-12 {
  margin-left: 100%;
}

.remark-code-line-highlighted {
    background-color: rgb(51, 51, 51);
}
